body{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: "Poppins", Arial, Tahoma, sans-serif;
}
a:hover{
    text-decoration: none;
    transition: all .5s;

}
.topHeader{
    background-color: #008f53;
    height: 40px;
    
}
.contact a{
    color:white;
}
img{
    width:100%;
}
.headerSocial,.login{
    display: inline-block;
}
.login{
    padding: 10px 0;
}
.headerSocial{
    margin:0 20px;
    padding: 10px 0;
    align-items: center;
}
.topHeader ul li{
    float: left;
    margin: 0 2px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.topHeader .headerSocial li a{
    color: #fff!important;
    font-size: 18px;
    margin: 0 2px;
}
a{
    transition: all .5s;
 
}

.topHeader .login li a{
    color: #fff!important;
    font-size: 100%;
    padding: 0 5px;
    line-height: 20px;
}
.login li:hover{

        border-bottom: 5px solid #008f53;
        margin-bottom: -5px!important;
        margin-top: -5px!important;

}
.contact{
    color:white;
    margin: 0 20px;
    font-size:100%;
    align-items: center;
    padding: 10px 0;

}
.contact a{
    color:white;
}
.contact span{
    color:white;
}
.login a{
color:white;
}
header  .navbar{
    padding:0;
}
header .navbar-brand{
    padding: 25px 0;
    margin: 0 40px;
    height: auto;
}
.mainMenu{
    background-color: white;
}
.container{
    max-width: 1102px;
    padding-right:0 !important;
    padding-left: 0 !important;
}
header .nav-link{
    font-weight: 400;
    line-height: 90px;
    color: #555;
    padding: 10 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
header .nav-item:hover{
    border-bottom: 5px solid #008f53;
    margin-bottom: -5px;
    margin-top: -5px;
}
header .nav-item:hover .nav-link{
    color:#008f53 !important;
}
.login li a:hover {
    color: #f4c089!important;
}
div{
    font-size:100%;
}
.footerCopy{
    background-color: #34353d;
}
.copyRight{
    margin: 0 0 10px;
    color:#cccccc
}
.Footersocial li{
display: inline-block;
margin-right: 6px;
}
.Footersocial li a{
    color: rgba(255,255,255,.3);
    font-size: 15px;
    line-height: 15px;}
.Footersocial li:hover a{
    color:white;
}
.footerCopy{
    padding-bottom: 20px;
    padding-top: 30px;
    min-height: 33px;
}
.up{
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    background-color: transparent!important;
    position: fixed;
    right: 75px;
    bottom: 20px;
    z-index: 99999999;
    width: 42px;
    height: 42px;
    text-align: center;
}
.up:hover{
    background-color: #747474 !important;
    border-color:#747474;
    color:white
}
.up a{
    color: #65666C;
    line-height: 42px;
    font-size: 20px;
    vertical-align: middle;
}
.up:hover a{
    color:white;
}
.loginContect{
    background-color: #FCFCFC;
    padding-top: 30px;
    padding-bottom: 30px;
}
.loginBox{
    background: #ffffff;
    border: 0px solid #cccccc;
    padding:30px;
}
.loginBox h2{
    color: #555555;
    font-family: Poppins, sans-serif, 'Trebuchet MS';
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}
.loginBox .inputLabel{
    color: #919191;
    font-family: Poppins, sans-serif, 'Trebuchet MS';
    font-size: 15px;
    cursor: pointer;
    margin: 0px !important;
    line-height: 28px;
    position: absolute;
    left: 0;
    line-height: normal;
    order:0;
    bottom:5%;

}
.loginBox .form-control{
    line-height: normal;
    margin: 0;
    padding: 8px 7px 5px;
    box-shadow: none;
    border:0;
    border-bottom: 1px solid #c7c7c7;
    background-color: #ffffff;
    color: #242424;
    height: 33px;
    font-size: 14px;
    border-radius: 0;;
}
.loginBox .form-group{
    margin: 5px 0;
    position: relative;
    margin-bottom:25px;
}
.loginBox .form-control:focus{
    border-bottom: 1px solid #008f53;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #008f53 4%);}
.error{
border-bottom:  1px solid  #e6594d;;
}
.inputError{
    border:1px solid #e6594d
}
.loginBox .message{
    color: #e6594d;
    background: #ffffff;
    font-family: Poppins, sans-serif, 'Trebuchet MS';
    font-size: 14px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
}


.remText{
    color: #919191;
    font-family: Poppins, sans-serif, 'Trebuchet MS';
    font-size: 16px;
    cursor: pointer;
    line-height: 28px;
    margin-left:30px;
}

.checmark{
    content: "";
    box-sizing: border-box;
    transition: 240ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid   #c7c7c7;
    border-radius: 2px;
    margin-right:15px;
}
.checkboxLabel{
    position: relative;
    margin-right:10px;
}
.checmark:after{
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4.67px;
    top: 0.22px;
    display: table;
    width: 6.67px;
    height: 13.33px;
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    content: "";
}
#remeber,#Terms{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#remeber:checked ~.checmark ,#Terms:checked ~.checmark {
    background-color: #008f53;
    border-color:transparent;

}
#remeber:checked ~ .checmark:after,#Terms:checked ~ .checmark:after{
    padding-top: 10px;
}
.forgetPass{
    margin-right:20px;
}
.forgetPass a{
    color: #008f53 !important;
    font-size:16px;
    text-transform: capitalize;
}
.formBtn{
    margin: auto;
margin-top:20px;
width: 350px;
min-height: 45px;
font-size: 18px;
font-weight: bold;
padding: 0 10px;
display: block;
background-color: transparent;
border:2px solid #008f53;
border-radius: 7px;
color:#d69942;
transition: .5s;
}
.formBtn:hover{
    background-color: #008f53;
    color:white;
    transition: .5s;
}
.haventacccount{
    margin:15px 0;
    color: #919191;
    font-size: 16px;;
}
.haventacccount a{
    color: #008f53 !important;
}
.SignUpForm .form-control{
    background-color: #ffffff ;
    border: 1px solid #c7c7c7;
    border-color: #c7c7c7;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    color: #242424;
    font-family: Poppins, sans-serif, 'Trebuchet MS';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    height: 33px;
}
.SignUpForm .inputLabel{
    position: relative;
}
.SignUpForm .form-control:focus{
    border-bottom: 0 ;
    border:1px solid #008f53 !important;
    background:none;
}
.StrengthPassword{
    display: inline-block;
    max-width: 150px;
    float: right;
    padding: 6px 0 2px;
    margin: auto;
}
.stringthList{
    display: inline-block;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
    margin: 4px 0!important;
    text-align: right;
}
.stringthList li:first-child{
    border-width: 1px;
}
.stringthList li{
    display: inline-block;
    float: left;
    width: 20%;
    max-height: 30px;
    border: 1px solid #FFF;
    border-width: 1px 1px 1px 0;
    padding: 4px;
    margin: 0;
    font-size: 14px;
    text-align: center;
}
.StrengthTxt{
    color: #919191;

}
.loginForm h3{
    color: #919191;
    font-family: Poppins, sans-serif, 'Trebuchet MS';
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
}
.lospassbtn{
    margin-top:70px;
}
.pageCover{
    background-image: url("../images/background.jpg");
    padding-top: 120px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
}


.pageTitle{
    font-size: 80px;
    line-height: 95px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.reconPage{
    padding-top: 90px;
    padding-bottom: 50px;
}

#rootwizard h2{
    margin:20px 0;
    font-size: 24px;
}
#rootwizard .progress-bar{
    background-color: #ca9e67;
}
#rootwizard .progress{
    display: block;
    width: 100%;
    background-color: #ddd;
    height: 18px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 5px 0 0;
}
.formBox{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 35px;
    border-radius: 5px;
}
.halfForm{
    width:45%;
    display: inline-block;
    margin-top:30px;
    float: left;
}
.halfForm{
    margin-right:20px;
}
.reconForm .form-control,.disputeForm .form-control{
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
}
.reconForm .form-control:focus{
    border: 1px solid #999;
    background-color: #E9F5FC;
    box-shadow: none;
}
.inputname{
    display: inline-block;
    margin-right:10px;
}
.inputTitle{
    font-size:16px;
}
.inputTitle span{
color:red;

}
.inputname.inputFirstName{
    width:30%;
}
.inputname.inputMidName{
    width:20%;
}
.inputname.inputLastName{
    width:30%;
}

.nameInputgroup label,.inputname.cityDetails label{
    font-size: 13px;
    float: none;
    font-weight: 400;
    line-height: 1.3;
    margin: 4px 0 0;
    padding: 0;
    display:block;
    color:#626262
}
.selectric .button{
    display: none;
}
.reconForm .form-group{
    margin:20px 0 ;
}
.inputname.cityDetails{
    width:44%;
    margin:10px 0;
}
.form-group .inputname.cityDetails:nth-child(odd){
    margin-right:20px;
}
.selectric-wrapper{
min-height: 41px;
margin-bottom:10px;}
.inputname.cityDetails .selectric-wrapper{
    margin-bottom: 0;;

}
.Otherres .inputname{
    width:22% !important;
}
.Otherres .selectric-wrapper{
    margin-bottom:0;
}
.addOtherRes,.remove {
    color:#008f53;
    cursor: pointer;
}
.remove {
    display: none;
  }
  .form-holder-append .remove {
    display: block;
  }
  .btn-group-sm>.btn, .btn-sm{
font-size:1.25rem
  }
  .disputeCheck label,#disputesecond,#disputefirst{
      display: inline-block;
  }
  #disputesecond,#disputefirst{
      float: left;
      width:5%;
  }
  .disputeCheck label{
      width:94%;
      float:right;
  }
  .disputeCheck {
      margin-top:20px;
  }
  .disputeForm label{
      font-weight: 400;
    
  }
  .disputeForm .selectric-wrapper{
      display: inline-block;
  }

  .chzn-container .chzn-drop{
      text-align: left;
  }
  .reconBody{
      overflow-x: hidden;
  }
  .chzn-container-multi .chzn-choices .search-choice .search-choice-close {

    background: url("chosen-sprite.png") right top no-repeat !important;  
}
.recoBox{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 35px;
    border-radius: 5px;
}
.pager li>a, .pager li>span{
    color:#ca9e67;
    border:1px solid #ca9e67;
}
.pager li>a:hover, .pager li>a:focus{
    background-color: #ca9e67;
    color:white;
}
.infoTitle{

}
.fileuploadBox{
    border:2px dashed #c7c7c7;
    padding: 10px ;
    text-align: center;
    width:100%;
    font-size:14px;
    line-height: 30px;
    color:#aca7a7;
}
.fileuploadinput{
    position: absolute;
    opacity: 0;
}
.form-group h4{
    color: #919191;
    font-size: 16px;
}
.inputCont{
    width:100%;
    margin-bottom:5px;
    line-height: 50px;;
}
.emailtitle{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #0c7cd5 ;
    font-size: 26px ;
    display: block;
}
.memberSince{
    color: #575d70;
    font-size: 16px;
    font-weight: 500px;
    text-align: center;
    display: block;
}
.profileHeaderCon{
    margin-top:50px;
}
.avatarImg{
    margin:0 auto;
    width:160px;
    height:160px;
    border-radius: 50%;
    border:3px solid #0c7cd5;
}
@media(min-width:320px)and (max-width:767px){
    .halfForm{
        width:100% !important;
        margin:0 !important
    }
    .container{
    width:90%;
    }
}